body {
    font-family: "Poppins", sans-serif;
}

.container-app {
    @apply absolute h-screen w-screen overflow-hidden;
}

/*** Buildings ***/
.building-overview {
    @apply absolute cursor-pointer border border-white/30 w-fit p-2 px-6 rounded text-white uppercase glass-effect;
}

.building-overview p {
    @apply font-bold text-base;
}

.building-overview h4 {
    @apply text-sm;
}

/*** Navigation ***/
.navigation {
    @apply w-fit text-white z-10 top-10 left-20 pl-20 pt-10;
}

.navigation h1 {
    @apply text-2xl font-semibold uppercase text-gray-300 flex items-center gap-2 cursor-pointer;
}

.navigation h1 i,
.navigation h1 svg {
    @apply text-[16px];
}

.navigation > .complex-name a {
    @apply transition-default;

    &:hover {
        @apply text-white;
    }
}

.navigation .buildings-pills {
    @apply flex items-center gap-2 mt-4;
}

.navigation .buildings-pills > .building-pill {
    @apply glass-effect px-4 py-3 rounded-full text-xs cursor-pointer transition-default uppercase border border-white/30;
}

.navigation .buildings-pills > .building-pill:hover,
.navigation .buildings-pills > .building-pill.active,
.navigation .apartments-available > .section:hover,
.navigation .apartments-available > .section.active {
    @apply bg-white border-white text-black;
}

.navigation .apartments-available {
    @apply flex items-center gap-2 mt-4;
}

.navigation .apartments-available > .section {
    @apply glass-effect border border-white/30 px-4 py-2 rounded-full text-[9.5px] cursor-pointer transition-default uppercase z-100;
}

/*** Arrow Navigation ***/
.arrow-nav {
    @apply absolute top-1/2 left-0 w-full flex items-center justify-between px-4 text-white z-10 text-xl;
}

.arrow-nav .arrow-left,
.arrow-nav .arrow-right {
    @apply border border-transparent p-1 rounded-full transition-default;
}

.arrow-nav .arrow-left:hover,
.arrow-nav .arrow-right:hover {
    @apply glass-effect border border-white/30 p-1 rounded-full transition-default cursor-pointer shadow-md;
}

/** Dropdown **/
.content-header .dropdown .btn-open {
    @apply mb-4 cursor-pointer!;
}

.content-header .dropdown ul.dropdown-content {
    @apply bg-white text-black z-1 w-52 p-2 shadow-sm mt-2;
}

.content-header .dropdown ul.dropdown-content li.menu-header {
    @apply text-xs font-bold uppercase text-gray-500 mb-2;
}

.content-header .dropdown ul.dropdown-content li.last {
    @apply border-b border-b-gray-300 pb-2 mb-2;
}

.page-background .side-content {
    @apply w-5/12 h-screen bg-transparent absolute z-1000;
}

.page-background img {
    @apply w-screen h-screen object-cover -z-1000;
}

.video-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}
/* 
.video-background .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 50%);
} */

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.transition-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

/* @view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 500ms;
} */
