.coordinates-area {
    @apply relative w-[100vw] h-[100vh] m-0-auto;
    margin: 0 auto;
}

#coordinates_modal .modal-box {
    @apply p-0 h-[100vh] max-w-screen w-full;
}

.video-canvas-wrapper {
    @apply relative w-[100vw] h-[100vh] m-0-auto overflow-hidden;
}

#video-background {
    @apply absolute top-0 left-0 w-full h-full object-cover z-0;
}

.coordinates-area .interactive-draw {
    @apply absolute top-0 left-0 w-[100vw] h-[100vh] z-10;
}

.coordinates-area .interactive-draw canvas {
    @apply pointer-events-auto z-10;
}

.coordinates-area img {
    @apply rounded-md z-15;
}

.coordinates-area label.glass-effect {
    @apply border border-white/30 transition-default;
}

.coordinates-area label.glass-effect:hover {
    @apply bg-white/30;
}

.toolbar {
    @apply absolute left-2 top-2 z-20;
}

.toolbar details li {
    @apply flex gap-2;
}

.toolbar details ul {
    @apply flex flex-col gap-2;
}

.coordinates-area .button-disable,
.coordinates-area .button-disable a:hover {
    @apply bg-gray-200 text-black rounded cursor-not-allowed;
}

@keyframes toastIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toastOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.toast-animate-in {
    animation: toastIn 0.4s ease-out forwards;
}

.toast-animate-out {
    animation: toastOut 0.4s ease-in forwards;
}

dialog .toast {
    @apply text-xl!;
}
