/** Interactive Building **/
.interactive-building {
    @apply absolute top-0 left-0 w-[100vw] h-[100vh] pointer-events-none z-2;
}

.interactive-building rect,
.interactive-building polygon,
.interactive-building path {
    @apply stroke-black/10 stroke-2 cursor-pointer fill-white/20;
    z-index: 1000;
    pointer-events: all;
    transition: stroke 0.3s ease, fill 0.3s ease;
}

.interactive-building rect.available,
.interactive-building polygon.available,
.interactive-building path.available {
    @apply stroke-green-600 fill-green-400/50;
}

.interactive-building rect.available:hover,
.interactive-building polygon.available:hover,
.interactive-building path.available:hover {
    @apply stroke-green-600 fill-green-400/50;
}

.interactive-building rect:hover,
.interactive-building polygon:hover,
.interactive-building path:hover {
    @apply stroke-black/10 stroke-2 fill-white/35;
}

.interactive-building rect.sold,
.interactive-building rect.sold:hover,
.interactive-building polygon.sold,
.interactive-building polygon.sold:hover,
.interactive-building path.sold,
.interactive-building path.sold:hover {
    @apply fill-red-500/20 stroke-red-600 stroke-2;
}

.interactive-building rect.reserved,
.interactive-building polygon.reserved,
.interactive-building path.reserved {
    @apply stroke-yellow-700 fill-yellow-500/50;
}

.interactive-building rect.reserved:hover,
.interactive-building polygon.reserved:hover,
.interactive-building path.reserved:hover {
    @apply stroke-yellow-700 stroke-2;
}

#front-overview,
#back-overview {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#front-overview.show,
#back-overview.show {
    opacity: 1;
    visibility: visible;
}

/** Tooltip **/
#apartment-tooltip {
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}

.tooltip-card {
    @apply absolute z-[1000] px-4 py-3 text-white border border-white/30 pointer-events-none glass-effect;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease;
}

.tooltip-card span {
    @apply flex gap-1 font-bold;
}

.tooltip-card span p {
    @apply font-normal;
}

.tooltip-card h3.label-tooltip {
    @apply font-bold;
}

/** Interactive Overlay (Admin) **/
.interactive-overlay {
    pointer-events: none;
    z-index: 15;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.interactive-overlay rect[data-tooltip="true"],
.interactive-overlay polygon[data-tooltip="true"] {
    pointer-events: all;
}

.interactive-overlay rect.actual-position {
    @apply fill-green-500/20 stroke-2 stroke-green-600;
}

.interactive-overlay rect.others-position {
    @apply fill-red-500/20 stroke-red-600 stroke-2;
}

.unit-badge-glass {
    @apply glass-effect pointer-events-none text-white font-bold text-center px-1 py-2;
}
